@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f665ef 0%, #ff6136 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.App {
    min-height: 100vh;
    width: 80%;
    background: linear-gradient(120deg, #d645cf 0%, #f55529 100%);
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

header,
form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    border-radius: 5px 0 0 5px;
}


form input,
form button {
    margin: 1.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;

}

form button {
    color: #fafafa;
    background: #ff6136;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 0.7rem;
}

form button:hover {
    background: #e3ff47;
    color: rgb(5, 5, 5);
}

form input:focus,
form button:focus {
    outline: none;
}